@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("bg-login.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.box {
  background: transparent;
  width: 420px;
  padding: 30px 40px;
  color: white;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}
.box h1 {
  text-align: center;
  font-size: 35px;
}
.box .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 16px;
  padding: 5px 45px 5px 5px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s;
}
.box .input-box input:focus ~ label,
.box .input-box input:valid ~ label {
  font-size: 0.8rem;
  top: 15px;
  transform: translateY(-120%);
}
.box .input-box i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
}
.box form {
  position: relative;
}
.box form .btnView {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-70%);
  font-size: 14px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}
.box .extra {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 25px;
}
.extra label input {
  accent-color: white;
}
.extra a {
  color: white;
  text-decoration: none;
}
.extra a:hover {
  text-decoration: underline;
}
.box .btnLogin {
  width: 100%;
  height: 45px;
  background-color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}
.box .btnLogin:hover {
  background: transparent;
  color: white;
}
.box .registrasi {
  text-align: center;
  font-size: 15px;
  margin: 30px 0 15px;
}
.registrasi a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.registrasi a:hover {
  text-decoration: underline;
}

